<form>
    <h1> ALTERANDO CATEGORIA </h1>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="categoria.descricao" type="text" name="descricao" placeholder="Ex. Descrição">
    </mat-form-field>
    
    <mat-form-field class="form">
        <mat-label>Data Cadastro</mat-label>
        <textarea matInput [(ngModel)]="categoria.dataCadastro" type="text" name="dataCadastro" placeholder="Ex. Data Cadastro"></textarea>
    </mat-form-field>    

    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary">ALTERAR</button>
        <button class="mat-elevation-z8" routerLink="/categorias" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>
